//
@use "../$scss$/LogicFb" as flg;
@use "../$scss$/LogicSign" as slg;

//
@mixin calculateMetric() {
    //
    --p-cell-x: var(--cell-x);
    --p-cell-y: var(--cell-y);

    // CLAMPED GRID
    --f-col: clamp(4, var(--layout-c, 4), 6);
    --f-row: clamp(8, var(--layout-r, 8), 12);

    //
    --fc-cell-x: calc(clamp(0, var(--cell-x), calc(var(--f-col) - 1)) + 1);
    --fc-cell-y: calc(clamp(0, var(--cell-y), calc(var(--f-row) - 1)) + 1);

    //
    --fp-cell-x: calc(clamp(0, var(--p-cell-x), calc(var(--f-col) - 1)) + 1);
    --fp-cell-y: calc(clamp(0, var(--p-cell-y), calc(var(--f-row) - 1)) + 1);

    //
    --dir-x: calc(var(--fc-cell-x) - var(--fp-cell-x));
    --dir-y: calc(var(--fc-cell-y) - var(--fp-cell-y));
}

//
@layer u2-grid-box {

    //
    @property --inline-offset-iv { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
    @property --inline-offset-ni { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
    @property --inline-offset    { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

    //
    @property --block-offset-iv { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
    @property --block-offset-ni { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
    @property --block-offset    { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

    //
    @property --inline-cond { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --block-cond  { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --ox-cs { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --ox-rs { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --ox-orient { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --ox-c { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --ox-r { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --ox-c-span { syntax: "<number>"; initial-value: 1; inherits: true; }
    @property --ox-r-span { syntax: "<number>"; initial-value: 1; inherits: true; }

    //
    @property --ox-c-unit { syntax: "<length-percentage>"; initial-value: 1px; inherits: true; }
    @property --ox-r-unit { syntax: "<length-percentage>"; initial-value: 1px; inherits: true; }

    //
    @property --ox-c-loc { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }
    @property --ox-r-loc { syntax: "<length-percentage>"; initial-value: 0px; inherits: true; }

    //
    @property --translate-x { syntax: "<length-percentage>"; initial-value: 0; inherits: true; }
    @property --translate-y { syntax: "<length-percentage>"; initial-value: 0; inherits: true; }


    //
    @property --cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --dir-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --dir-y { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --drag-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --drag-y { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --p-drag-x { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --p-drag-y { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --p-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --p-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --grid-w { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --grid-h { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --grid-c { syntax: "<number>"; initial-value: 0; inherits: true; }
    @property --grid-r { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --f-col { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --f-row { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --fc-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fc-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fp-cell-x { syntax: "<integer>"; initial-value: 0; inherits: true; }
    @property --fp-cell-y { syntax: "<integer>"; initial-value: 0; inherits: true; }

    //
    @property --orient { syntax: "<number>"; initial-value: 0; inherits: true; }

    //
    @property --r-gap {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --c-gap {
        syntax: "<length-percentage>";
        initial-value: 0px;
        inherits: true;
    }

    //
    @property --layout-r {
        syntax: "<integer>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --layout-c {
        syntax: "<integer>";
        initial-value: 1;
        inherits: true;
    }

    //
    @property --c-shift-mod {
        syntax: "<number>";
        initial-value: 0;
        inherits: true;
    }

    //
    @property --r-shift-mod {
        syntax: "<number>";
        initial-value: 0;
        inherits: true;
    }

    //
    .u2-grid-layout {

        //
        & {
            --ox-orient: rem(var(--orient, 0), 2);
            --c-gap: clamp(max(0.5rem, 8cqmin), min(calc(4cqmin / min(var(--layout-c, 4), var(--layout-r, 8))), calc(4cqmax / max(var(--layout-c, 4), var(--layout-r, 8)))), max(1rem, 16cqmin));
            --r-gap: clamp(max(0.5rem, 8cqmin), min(calc(4cqmin / min(var(--layout-c, 4), var(--layout-r, 8))), calc(4cqmax / max(var(--layout-c, 4), var(--layout-r, 8)))), max(1rem, 16cqmin));
        }

        //
        & {
            display: block flow;
            position: relative;

            //
            container-name: u2-grid;
            container-type: size;
            contain: size layout;

            //
            zoom: 1;
            direction: ltr;

            //
            pointer-events: none;
            background-color: transparent;

            //
            inline-size: 100%;
            block-size: 100%;
        }

        //
        @supports (opacity: sign(0.5)) {
            --ox-cs: #{slg.mix(var(--layout-r), var(--layout-c), var(--ox-orient, 0))};
            --ox-rs: #{slg.mix(var(--layout-c), var(--layout-r), var(--ox-orient, 0))};
        }

        //
        @supports not (opacity: sign(0.5)){
            --ox-cs: #{flg.mix(var(--layout-r), var(--layout-c), var(--ox-orient, 0))};
            --ox-rs: #{flg.mix(var(--layout-c), var(--layout-r), var(--ox-orient, 0))};
        }

        //
        & > :where(*[data-dragging]) {
            --grid-c: var(--fp-cell-x);
            --grid-r: var(--fp-cell-y);
        }

        //
        & > :where(*) {
            @include calculateMetric();

            //
            & {
                --icon-size: min((100cqmin / min(calc(var(--layout-c, 4) / var(--ox-c-span, 1)), calc(var(--layout-r, 8) / var(--ox-r-span, 1))))/*min(
                    100cqmin / min(calc(var(--layout-c, 4) / var(--ox-c-span, 1)), calc(var(--layout-r, 8) / var(--ox-r-span, 1))),
                    100cqmax / max(calc(var(--layout-c, 4) / var(--ox-c-span, 1)), calc(var(--layout-r, 8) / var(--ox-r-span, 1)))
                )*/ - 0.5 * max(var(--c-gap, 1rem), var(--r-gap, 1rem)), 8rem);
                --grid-c: var(--fc-cell-x);
                --grid-r: var(--fc-cell-y);
            }

            // fix translate issues
            & * {
                --drag-x: 0;
                --drag-y: 0;
            }

            //
            & {
                position: absolute;
                transform:
                    translate(
                        calc(var(--translate-x) + var(--inline-offset) + 0.5 * var(--ox-c-span, 1) * var(--ox-c-unit, 1px) - 50% + var(--drag-x, 0) * var(--zpx, 1px)),
                        calc(var(--translate-y) + var(--block-offset ) + 0.5 * var(--ox-r-span, 1) * var(--ox-r-unit, 1px) - 50% + var(--drag-y, 0) * var(--zpx, 1px))
                    )
                    scale(var(--scale, 1)) !important;

                //
                inset: 0px;
                inset-inline-end: auto;
                inset-block-end: auto;

                //
                zoom: 1;
                place-self: safe center;
                //will-change: --translate-x, --translate-y, --grid-c, --grid-r;

                //
                min-inline-size: 1px;
                min-block-size: 1px;

                //
                inline-size: 100%;//max-content;
                block-size: 100%;//max-content;

                //
                max-inline-size: var(--icon-size, 1px);
                max-block-size: var(--icon-size, 1px);

                //
                pointer-events: none;
                touch-action: none;
                user-select: none;
                -webkit-user-drag: none;
                -moz-user-drag: none;

                //
                overflow: visible;

                // if interpolation keywords supported
                @supports (min-inline-size: max(1px, max-content)) {
                    min-inline-size: max(1px, max-content);
                    min-block-size: max(1px, max-content);
                }
            }

            //
            & > :where(*) {
                inline-size: 100%;
                block-size: 100%;
            }

            //
            & {
                --ox-c-unit: calc(100cqi / var(--ox-cs));
                --ox-r-unit: calc(100cqb / var(--ox-rs));

                //
                --ox-c-loc: calc(var(--ox-c) * var(--ox-c-unit));
                --ox-r-loc: calc(var(--ox-r) * var(--ox-r-unit));

                //
                --inline-offset-ni: var(--ox-c-loc, 1px);
                --inline-offset-iv: calc(100cqi - var(--ox-c-span, 1) * var(--ox-c-unit, 1px) - var(--ox-c-loc, 1px));

                //
                --block-offset-ni: var(--ox-r-loc, 1px);
                --block-offset-iv: calc(100cqb - var(--ox-r-span, 1) * var(--ox-r-unit, 1px) - var(--ox-r-loc, 1px));

                //
                --inline-offset: #{slg.mix(
                    var(--inline-offset-ni),
                    var(--inline-offset-iv),
                    var(--inline-cond, 0)
                )};

                //
                --block-offset: #{slg.mix(
                    var(--block-offset-ni, 0px),
                    var(--block-offset-iv, 0px),
                    var(--block-cond, 0)
                )};
            }

            //
            @supports (opacity: sign(0.5)) {
                --ox-c: calc(#{slg.mix(var(--grid-r, 0), var(--grid-c, 0), var(--ox-orient, 0))} - 1);
                --ox-r: calc(#{slg.mix(var(--grid-c, 0), var(--grid-r, 0), var(--ox-orient, 0))} - 1);
                --inline-cond: #{slg.lor(slg.eq(var(--orient, 0), 0), slg.eq(var(--orient, 0), 1))};
                --block-cond: #{slg.lor(slg.eq(var(--orient, 0), 0), slg.eq(var(--orient, 0), 3))};
            }

            //
            @supports not (opacity: sign(0.5)){
                --ox-c: calc(#{flg.mix(var(--grid-r, 0), var(--grid-c, 0), var(--ox-orient, 0))} - 1);
                --ox-r: calc(#{flg.mix(var(--grid-c, 0), var(--grid-r, 0), var(--ox-orient, 0))} - 1);
                --inline-cond: #{flg.lor(flg.eq(var(--orient, 0), 0), flg.eq(var(--orient, 0), 1))};
                --block-cond: #{flg.lor(flg.eq(var(--orient, 0), 0), flg.eq(var(--orient, 0), 3))};
            }
        }
    }

}
